@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


      /*  hello! I'm cat, #35127 on wolvden.
          this code is *not* free-to-use.
          please consider commissioning me!   */


* { font-family: 'Courier Prime', monospace;
font-size: inherit; color: inherit; transition: .6s }

#footer, #sidebar, .card.text-center .card-img-top, .breadcrumb-item { display: none }
#main.col-lg-9 { max-width: 100%; flex: 1 }
#main::after { content: "css by ᓚᘏᗢ #35127"; white-space: pre-wrap;font-size: 80%; display: block; text-align: right; margin-bottom: 1em; line-height: 1; }
#header .breadcrumb-nav .breadcrumb { margin: 0; max-width: 100% }
.table a { font-weight: inherit }
.table .left { background-color: inherit }
td { vertical-align: middle }
body { cursor: default }
#header .navbar-main .nav-link .fa { color: inherit }

.navbar-status { display: none } @media (min-width: 1200px) { #header .navbar-main { height: 105px; padding-left: 300px } }

/* headers */
#header .breadcrumb-nav { background-color: transparent }

/* colored */
body { background: url('https://images2.imgbox.com/33/4b/yijDHYCq_o.jpg'); background-size: cover; background-attachment: fixed;
color: #000 }
a { color: pink }
#main { background: #111; color: #fff }
#main a { color: #ddd }
