* { font-family: inherit!important; font-size: inherit!important; color: inherit!important; background: none!important }



#header .navbar-main .navbar-brand {
    background: url(https://static.wolvden.com/images/layout/logo.png)!important;
}
