.codecat { background-position: 50% 50%; background-image: url('https://images2.imgbox.com/8a/70/mSfMoQdM_o.png'); outline: 2px double #fff; outline-offset: -5px; }
.codecat>div { background: #eee3; padding: 20px; outline: 1px solid; outline-offset: -5px }
