
    /* a commission by #35127 for #1713 ♡ */

.table, h1, .row.justify-content-md-center { display: none }
h1 { font-size: 20px; text-shadow: 0 2px #baa653; }
input { background: #fff!important }
h3.mb-0 { text-align: left }
h3.mb-0 i { font-size: 80% }

.duck { background: #f7ebaf; padding: 20px 10px; display: flex; align-items: center; font-size: 1.5em; line-height: 1em }
.duck>div { padding: 5px }
.butter { font-style: italic; flex: 1 }
