@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300;1,500&display=swap');




/* a commission by #35127 for #1713 ♡ */

div .text-break:nth-child(1)::before {
    color: #31313178!important;
    text-shadow: none!important;
    margin: 0 13px 0 10px;
    font-size: 225%;
    content: "🌼";
    vertical-align: middle; float: left;
}

form .table.table-striped td { padding: .25rem }
form .table.table-striped tbody tr td a {line-height: 0; font-weight: bold }

/*
div>.text-break:nth-child(2) { flex: 1 }
form .table.table-striped tbody tr td:nth-child(1) small { font-style: italic; display: block; text-align: right }
*/

form .table.table-striped tbody tr td:nth-child(1) small {
    font-size: 9px;
}

.form-row a { background: #f7ebafcc; display: block; margin: 1em 0 }

#main>br { display: none }

#footer, #sidebar, .nav-tabs, .navbar-status, .breadcrumb-nav { display: none }

body { text-transform: lowercase; cursor: default;
color: #bf9a28; font-family: 'Josefin Sans', serif; font-size: .6rem; letter-spacing: 1px;
background-image: url('https://puu.sh/Gsdzv/caceeb1e7b.png'); background-color: #000; background-attachment: fixed; background-size: cover; background-position: 50% 50% }

a, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #a76d8a; transition: .5s; text-decoration: none }
a:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { color: #a76d8a; text-shadow: 0 0 3px #a76d8a; text-decoration: none }

@media (min-width: 1200px) {
#header .navbar-main .nav-link { font-size: inherit; font-weight: 100; font-size: 135%; letter-spacing: 1px; margin-right: 15px }
#header .navbar-main { min-height: 115px; background: none } }
.nav-item i { vertical-align: middle; display: inline }
#header .navbar-main .nav-link .fa { color: inherit }
form#summernote-form select { background: #fff; }

.pt-1.pb-1, .featured-wolf b { font-size: 0!important } .pt-1.pb-1 a { font-size: 25px!important }
th.pt-1.pb-1::before { content: "sanguine"; font-size: 25px!important }
.featured-wolf { font-size: 0!important }

.featured-wolf b::before {
    content: "sun kisses";
    font-size: 15px;
    text-align: left;
    display: block;
    margin: 0 0 -10px 10px;
    z-index: 99;
    position: relative;
}
.featured-wolf b::after { content: "it is said that the moon is the mother of wolves, creator of life. now, hear the legends of their guardian - the sun, protector of wolves. her rays of light nourish the cosmos and open shadow-veiled eyes to the beauty of esse. beneath her fiery shield, all existence thrives - flora blossoms and fauna flourishes. enlightened by her radiant love.\A\A explore the group of wolves that dance amidst the sunbeams; revere the fire in the sky and their hearts. those among them who appear drizzled in honey, like embodiments of the rays of sun, are adored for the light that blooms within their soul and shines from their body. believed to have been kissed by the sun itself.\A\A few wolves stand out amongst the yellow painted furs with noticeably darker features, almost appearing burnt. it is said that the souls of these wolves are not so pure of heart. mere shadows of the moon, where the light cannot touch. believed to have been scorched by the sun.";
white-space: pre-wrap;
font-size: 10px;
font-weight: 100;
text-align: left;
width: 100%;
background: #ffffd5;
display: block;
height: 210px;
overflow: auto;
padding: 1em;
}

#main { flex: 1; max-width: 100%; background: none }
.container>.row { display: block!important }

.form-row .card a img { filter:grayscale(1); transition: 1s }
.card a:hover img, .featured-wolf a:hover img { filter: grayscale(0) }
.navbar-nav { padding-top: 0 }
#footer {     font-size: 80%;
    padding-top: 20px; }

    #main {
      background: none; border: 0; padding: 0;
    }



    tr.pup {
        font-size: inherit!important;
    }


.card.mb-3, .featured-wolf img {
    border: 1px solid #eee3;
 }

.table-striped tbody tr:nth-of-type(odd), .form-control { background-color: transparent }

td.left.b { vertical-align: middle }


.table .subheader { background: #000 }
.table-striped td.text-right img, .mr-2, .mx-2 {
    max-width: 10px;
    margin: 0 2px;
}
#summernote-form, .alert {
    border: 0;
    color: inherit;
    padding: 1.5em;
    background: none;
    font-size: 90%;
    background-image: linear-gradient(to right, #f7ebaf, #ffff0000);
}

.user-tag, .float-left.mr-2 { border: 1px solid #eee3 }

td.left { background: #000!important; font-size: 80%; font-weight: 100; text-align: right; letter-spacing: 1px; text-transform: lowercase }

#header .navbar-main { background: none!important }

td.row { margin: 0!important }


tr { border-bottom: 1px solid #ead080 }
.table { border: 0!important }
td.right.text-right { text-align: center!important; vertical-align: middle!important; border-left: 1px solid #222 }

.form-row .card, td.right.text-right, .pb-1, .py-1, th.top {
        background-color: #edc653e6!important;
}

.form-row .card, .pb-1, .py-1 { background-attachment: fixed!important }
.form-row .card { border: 1px solid #eee3!important }

.pb-1, .py-1 { padding: 20px!important }

.form-row .card-header b { display: inline-block; text-transform: lowercase; letter-spacing: 1px; font-size: 8px; font-weight: bold; font-weight: 900 }
.form-row .card-img-top { display: none }
.card-header {
    background: none;
    border: 0;
}

.subheader { display: none }


h3.mb-0 { padding: 10px; text-align: right; font-style: italic; background: #eee1; font-size: 2rem }

h1 { text-align: right; color: #eecb61; text-shadow: 0 3px #baa653; font-size: 4em; }

#header .navbar-main .nav-link { text-transform: lowercase }
.text-danger { color: inherit!important }

.form-control { border: 0; color: inherit!important }

.btn-success, .btn-warning {
    transition: .5s;
    border-bottom-color: #eee3;
    background-color: #a76d8a;
    color: #fff;
}

.btn-success:hover, .btn-warning:hover { background: #63adec; border-bottom-color: #eee3; }


.progress {
    background-color: #b59f55!important;
    outline: 0;
    margin: 2px;
    outline-offset: -1px;
    border-radius: 0;
}


.bg-warning, .bg-primary, .bg-danger, .bg-info, .bg-success { background-color: #ead080!important }

select { background: #000 }

table.table.table-striped td { vertical-align: middle; }


form#summernote-form { background: #f7ebaf; padding: 20px; border: 0 }

th.top {
    padding: 15px;
    background-attachment: fixed;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 200%;
    font-style: italic;
    border-radius: 20px 0 0;
}

.pt-1.pb-1 { border-radius: 20px 0 0 }

.featured-wolf { padding: 15px!important }


.small, small {
    font-size: inherit;
}

#main>h2 {
   padding: 15px;
   background-attachment: fixed;
   letter-spacing: 1px;
   font-weight: 100;
   text-transform: lowercase;
   font-size: 200%;
   font-style: italic;
   border-radius: 20px 0 0;
   background-color: #edc653e6!important; margin: 0; color: #fff; }

hr.flowers {
filter: invert(1)
}

.note-popover .popover-content, .note-toolbar { padding: 0 0 5px }
h1, h2, h3, h4, h5, h6, th.pt-1.pb-1 { font-weight: bold }

th, .table a, #footer nav .nav-item .nav-link { font-weight: 100 }

td.b { text-align: right; text-transform: lowercase; font-style: italic }

.form-control, .btn { font-size: inherit!important }
.table .bottom, .table tfoot td { color: inherit; background: #ead080!important }

td { background: #f7ebaf }
#main .card { border-radius: 20px 0 0; margin: 0 auto!important; background: #f7ebaf }

#footer ul, select { background: none!important }
div.col-xl-6.col-sm-12.order-xl-9.order-12, .featured-wolf, .col-xl-3.col-sm-7.text-center { align-self: center }
select option { background: #000!important; color: inherit!important }


h3.mb-0 i { vertical-align: middle; display: inline; font-size: 50%; margin-right: 10px; filter: opacity(.2) }
img.float-left.mr-2 { background: none; border-radius: 0; padding: 0; }




.card>.pb-1, .col-sm-7 .card { background: none!important }
.card>a img { outline: 1px solid #ffffff24; outline-offset: -5px }
i.fa { font-size: 75%!important }

.card.text-center
{
   background: #f7ebaf!important;
   border-radius: 0;
   margin-bottom: 3em!important;
}
th .floatright { font-size: .7em; }

.floatright.b.mt-2 { margin-right: 1em; font-size: 1.4em; font-weight: 100; font-style: italic; }

.card.text-center { border: 0!important; background: none!important; border-radius: 0 }

#header .navbar-main .navbar-brand {
    background: url(https://cdn.discordapp.com/attachments/817897616125198336/817963484423258152/image0.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}
