
    /* a commission by #35127 for #1713 ♡ */

.table, h1, .row.justify-content-md-center { display: none }
form .table { display: table!important }
h1 { font-size: 20px; text-shadow: 0 2px #baa653; }
input { background: #fff!important }
h3.mb-0 { text-align: left }
h3.mb-0 i { font-size: 80% }

.duck { background: #f7ebaf; padding: 20px 10px; display: flex; align-items: center; font-size: 1.2em; line-height: 1em }
.duck>div { padding: 5px; line-height: 1.2 }
.butter {
    font-style: italic;
    flex: 1;
    text-align: right;
    padding-right: 20px!important;
    align-self: flex-end;
    filter: opacity(.4);
    font-size: 300%;
    line-height: 1!important
}
.float-right { float: none!important }

#main::before { display: block; content: ""; background: url('https://cdn.discordapp.com/attachments/817897616125198336/817963484423258152/image0.png'); background-size: auto 100%; height: 20em; background-repeat: no-repeat; background-position: 50% 50% }
