@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* a commission by #35127 for #6985 */

body { cursor: default;
color: #373f42; font-family: lato, sans-serif; font-size: .71rem;
background-image: url('https://i.ibb.co/b2nfFGS/soft.jpg'); background-color: #9dafc6; background-attachment: fixed; background-size: cover; background-position: 50% 50% }

a, .nav-link, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #e0e4f1; transition: .5s; text-decoration: none }
a:hover, .nav-link:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { color: #fff; text-decoration: none }


#header .navbar-main .nav-link { font-size: 10px }


#header .navbar-main { background: transparent }

@media (min-width: 1200px) {
#header .navbar-main .nav-link { font-size: 8px; font-weight: bold; letter-spacing: 1px; margin-right: 15px }
#header .navbar-main { min-height: 115px } }
.nav-item i {
    vertical-align: middle;
    width: .8rem;
    background-size: contain;
    background-position: center;
}

#header .navbar-status { background-color: transparent }
.table, table, #header .navbar-status {
    border: 1px solid #c4d2e86b;
    background-image: linear-gradient(136deg, rgb(164 151 179 / 42%), #ffffff99);
}


nav { background: none }

#main br, #footer { display: none }

#main { flex: 1; max-width: 100%; padding: 0; background: none; }
#sidebar, .breadcrumb-nav, .nav-tabs { display: none }

th { background: none; color: inherit; border-bottom: 1px solid #fff6 }

.bottom { display: block }


.icon-beetle-silver, .icon-silver-cone {
    background-image: url(https://i.ibb.co/dD7S7Tn/pine-cone-1.png);
}
.icon-beetle-gold, .icon-gold-cone {
    background-image: url(https://i.ibb.co/VvNNKTX/pine-cone.png);
}



table.table.mt-3 td { padding: .2rem }
table.table.mt-3 td.right.text-right img { display: none }
table.table.mt-3 td.left.b { font-weight: bold; font-size: 90%; text-transform: uppercase; background: none; vertical-align: middle; }
table.table.mt-3 tbody { display: flex; flex-wrap: wrap; }
table.table.mt-3 tr { flex: 0 0 25%; padding: .5rem }

@media (max-width: 992px) { table.table.mt-3 tr { flex: 0 0 100% } }

table.table.mt-3 tbody tr:nth-child(1),table.table.mt-3 tbody tr:nth-child(2) { display: none }

table.table.mt-3 tbody tr:nth-last-child(1) { flex: 1; padding: 0; }

/*
table.table.mt-3 tbody:nth-last-child:first-letter { font-size: 300%; font-family: georgia; float: left; text-transform: lowercase; line-height: 1; margin: -.1em .2em 0 0; font-style: italic; }
*/

table.table.mt-3 tbody:nth-last-child(1):after {
    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.";
    background: #3c415f;
    background-size: cover;
    display: block;
    padding: 1rem;
    text-align: justify;
    background-image: url(https://i.ibb.co/b2nfFGS/soft.jpg);
    background-color: #c3c5dc;
    background-attachment: fixed;
    background-blend-mode: overlay;
    border-top: 1px solid #eee4;
border-bottom: 1px solid #eee4;
}

.table .bottom, .table tfoot td { background: none; }
table.table.mt-3 td.bottom { padding: 0 }


#main .form-row br { display: block }
#header { font-size: .7rem }
#header a, #header i { font-size: inherit }
.navbar-status { background: #eee2; margin-bottom: 1rem }
#header .navbar-main .nav-link .fa { color: inherit }


th.top { background: transparent; border-bottom: 1px solid #eeea; text-transform: lowercase; font-size: 2rem; font-weight: 100; line-height: 1; padding: 1rem }

h1 { color: #fff; font-size: 4rem; mix-blend-mode: soft-light }
