@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* a commission by #35127 for #6985 */

* { outline: 0 }

body { cursor: default;
color: #56606d; font-family: lato, sans-serif; font-size: .75rem;
background-image: url('https://i.ibb.co/b2nfFGS/soft.jpg'); background-color: #9dafc6; background-attachment: fixed; background-size: cover; background-position: 50% 50% }

a, a.text-danger, .nav-link, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #fff; transition: .5s; text-decoration: none }
a:hover, a.text-danger:hover, #header .navbar-status a:hover, .nav-link:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { color: #e0e4f1; text-decoration: none }

.text-danger { color: #fff }
.text-danger:hover { color: #e0e4f1 }

#header .navbar-main .nav-link { font-size: 10px }


#header .navbar-main { background: transparent }

@media (min-width: 1200px) {
#header .navbar-main .nav-link { font-size: 8px; font-weight: bold; letter-spacing: 1px; margin-right: 15px } }
.nav-item i {
    vertical-align: middle;
    width: .8rem;
    background-size: contain;
    background-position: center;
}

#header .navbar-status, .table .left { background-color: transparent }

.alert-info, .table, #header .navbar-status {
  background-color: transparent;
    border: 0px solid #c4d2e86b;
    background-image: linear-gradient(136deg, rgb(164 151 179 / 42%), #ffffff99);
}


.mt-3 { background: none!important;  }

/*
table.table.mt-3 tbody tr:nth-child(3),
table.table.mt-3 tbody tr:nth-child(4),
table.table.mt-3 tbody tr:nth-child(5),
table.table.mt-3 tbody tr:nth-child(6)
 { background: #9fa9c4 }
*/


.alert-info { color: inherit }

.floatright, .pull-right {
    font-size: .9rem;
    font-style: italic;
}

nav { background: none }

#main br, #footer { display: none }

#main { flex: 1; max-width: 100%; padding: 0; background: none; }
#sidebar, .breadcrumb-nav, .nav-tabs { display: none }

th { background: none; color: inherit; border-bottom: 1px solid #fff6 }

.bottom { display: block }


.icon-beetle-silver, .icon-silver-cone {
    background-image: url(https://i.ibb.co/dD7S7Tn/pine-cone-1.png);
}
.icon-beetle-gold, .icon-gold-cone {
    background-image: url(https://i.ibb.co/VvNNKTX/pine-cone.png);
}



table.table.mt-3 td { padding: .2rem }
table.table.mt-3 td.right.text-right img { display: none }
table.table.mt-3 td.left.b { font-weight: bold; font-size: 90%; text-transform: uppercase; background: none; vertical-align: middle; }
table.table.mt-3 tbody { display: flex; flex-wrap: wrap; }
table.table.mt-3 tr { flex: 0 0 25%; padding: .5rem }

@media (max-width: 992px) { table.table.mt-3 tr { flex: 0 0 100% } }

table.table.mt-3 tbody tr:nth-child(1),table.table.mt-3 tbody tr:nth-child(2) { display: none }

table.table.mt-3 tbody tr:nth-last-child(1) { flex: 1  }

/*
table.table.mt-3 tbody:nth-last-child:first-letter { font-size: 300%; font-family: georgia; float: left; text-transform: lowercase; line-height: 1; margin: -.1em .2em 0 0; font-style: italic; }
*/

table.table.mt-3 tbody:nth-last-child(1):after {
    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.";
    background-image: linear-gradient(136deg, rgb(164 151 179 / 42%), #ffffff99);
    display: block;
    padding: 1rem;
    text-align: justify;
    border-top: 1px solid #eeea;
}

.table { margin: 3em 0 }

#main .form-row br { display: block }
#header { font-size: .7rem }
#header a, #header i { font-size: inherit }
.navbar-status { background: #eee2; margin-bottom: 1rem }
#header .navbar-main .nav-link .fa { color: inherit }


th.top { background: #ffffff45; border-bottom: 1px solid #eeea; text-transform: lowercase; font-size: 1.5rem; font-weight: 100; line-height: 1; padding: 1.5rem }

h1 { color: #fff; font-size: 4rem; mix-blend-mode: soft-light }


.text-light, .text-success { color: inherit!important }


.navbar-brand { filter: opacity(.5); transition: .6s }
nav:hover .navbar-brand { filter: opacity(1); }

.table .bottom, .table tfoot td { background: none; }
table.table.mt-3 td.bottom {
    padding: .5rem;
    text-transform: lowercase;
    font-weight: 100;
    font-style: italic;
    font-size: 120%;
    background: #ffffff45;
    border-top: 1px solid #eeea;
    margin: -.5em;
}

.dropdown-menu  {
    background: #cbcad9;
    border: 0;
    font-size: inherit;
    box-shadow: 2px 2px 5px #908aa5;
}
.table a { font-weight: 100 }
.small, small {
    font-size: inherit
}
h1 small { font-size: 25% }
.fa, .fas { font-size: 9px; margin-right: 5px; vertical-align: middle; display: inline }



#main .card {
    background: #b1abc3;
}
form .table .left {
    text-align: right;
    font-style: italic;
    border-right: 1px solid #eeea;
}

h3 {
    font-style: italic;
    text-transform: lowercase;
}

body:after { content: "ᓚᘏᗢ"; position: fixed; bottom: 0; left: 0; padding: 1em  }

h1 { pointer-events: none }

form-row .float-left mr-2 { border-radius: 50% }

.mr-2 { filter: opacity(.5); border-radius: 50%; transition: .6s }
.mb-2:hover .mr-2 { filter: opacity(1) }

.form-row { margin-bottom: -5px }

.left.b {
    border-radius: 30px !important;
    font-size: 80% !important;
    letter-spacing: 2px !important;
    color: #fff6 !important;
}

a.text-danger {
    color: #fff!important;
}
a.text-danger:hover { color: #e0e4f1!important }

.btn-danger, .btn-primary, .btn-success { font-size: 85%; background-color: transparent; background: none; border: 1px solid #eeea }
.btn-danger:hover, .btn-primary:hover, .btn-success:hover { background: #eeeeee40; border: 1px solid #eeea }

.mb-2 a { color: inherit }
