table.table.mt-3 td { padding: .2rem }
table.table.mt-3 td.right.text-right img { display: none }
table.table.mt-3 td.left.b { font-weight: bold; font-size: 90%; text-transform: uppercase; background: none; vertical-align: middle; }
table.table.mt-3 tbody { display: flex; flex-wrap: wrap; }
table.table.mt-3 tr { flex: 0 0 25%; padding: .5rem }

@media (max-width: 992px) { table.table.mt-3 tr { flex: 0 0 100% } }

table.table.mt-3 tbody tr:nth-child(1),table.table.mt-3 tbody tr:nth-child(2) { display: none }

table.table.mt-3 tbody tr:nth-last-child(1) { flex: 1  }

table.table.mt-3 tbody:nth-last-child(1):after {
    content: "Hello, I am Dune/Azu. Polish, Silesian. She/her/all (you can you any pronouns!), minor, somewhere on the ace spectrum, I am an artist I go to a school all about graphics and poligraphy! Big half•alive fan, Warriors fan, I also enjoy watching Hermitcraft and DMP, just a bit. I love Indie music a lot! And talking about it as well :] \A\A I am pretty friendly as well, hopefully, lol. I am not accepting random friend request, will only accept them if I know/remember you. \A\A I've been playing WD since the public launch, with some hiatuses in between. I am focusing on breeding, to be exact Mutations (Albinism & Melanism) and T3s with small lineages and high stats. I currently have a project going on, all about making a new, semi-private (private to me and the contributors right now) line of albinism/melanism carriers with high chaser stats, and maybe even mutations that carry the opposite mutation! If you want to contribute, check out our chatter page!";
    background-image: linear-gradient(136deg, rgb(164 151 179 / 42%), #ffffff99);
    display: block;
    padding: 1rem;
    text-align: justify;
    border-top: 1px solid #eeea;
}

.mt-3 { background: none!important }

#main br { display: none }

.table { margin: 3em 0!important }

form td:nth-child(2) {
    width: auto!important;
}
