@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

      /*  hello! I'm cat, #35127 on wolvden.
          this code is *not* free-to-use.
          please consider commissioning me!   */

* { font-size: inherit; color: inherit; border: 0 }
#footer, #sidebar, .card.text-center .card-img-top, .breadcrumb-item, .table .subheader { display: none }
#main.col-lg-9 { max-width: 100%; flex: 1 }
#main::after { content: "css by ᓚᘏᗢ #35127"; white-space: pre-wrap; font-size: 80%; display: block; text-align: right; margin-bottom: 1em; line-height: 1; }
#header .breadcrumb-nav .breadcrumb { margin: 0; max-width: 100% }
.table a, .alert-link { font-weight: inherit }
.table .left { background-color: inherit }
.text-muted { color: inherit }
/* .table td, .table th { vertical-align: middle } */
body { cursor: default }
#header .navbar-main .nav-link .fa, .form-control { color: inherit }
nav i, .nav-tabs { display: none!important }
br, .navbar-status { display: none }
form td:nth-child(2) { width: 15% }
form td:nth-child(3) { width: 25% }
form td:nth-child(4) { width: 15% }
form td:nth-child(5) { width: 7% }
td.b { width: 35% }
.mb-3, .my-3 { margin: 0 auto }
.table td { align-items: center }
.featured-wolf b { display: block }
.form-row .card.text-center { margin-top: 1rem }
#main .card { background: none }
td.row { margin: 0 }
.mb-3 { margin: 0!important }

/* */
body { background-image: url('https://images2.imgbox.com/85/fc/i96C8ZmU_o.jpg'); background-size: auto; background-repeat: repeat; background-attachment: fixed }
#main { padding: 3em; background: #fff4; border: 0 }
@media (max-width: 990px) { #header
  { background: #dcdce8 } }
#header .navbar-main, #header .breadcrumb-nav { background: none }

/* tables */
table, .table { border: 0 }
.table th { background: transparent; border-bottom: 1px solid }
td { background: #f4f4f7 }
.table-striped tbody tr:nth-of-type(odd) { background: transparent }
.table .bottom, .table tfoot td { color: inherit; border-top: 3px solid #dcdce0; background-color: transparent }

.card.text-center { background: #f4f4f7 }
#summernote-form { padding: 1em; background: #f4f4f7 }

/* typo */
* { font-family: 'DM Mono', monospace }
#header .navbar-main .nav-link { font-size: .9rem; text-transform: lowercase }

body { color: #595764 }

.floatright a { font-size: 10px }

#main a, .table th a
.alert-info .alert-link, .alert-primary .alert-link, .alert-secondary .alert-link,
.alert-success .alert-link, .alert-warning .alert-link, .alert-danger .alert-link,
.alert-light .alert-link, .alert-dark .alert-link
{ color: #ae9957; transition: .6s; text-decoration: none; border-bottom: 1px solid #0000; }
#main a:hover, .table th a:hover
{ color: #ae9957; text-decoration: none; border-color: #ae9957; }

#header .navbar-main .nav-link
{ color: #5d585e; transition: .6s; filter: opacity(.7); border: 0!important }
#header .navbar-main .nav-link:hover
{ color: #5d585e; filter: opacity(1) }

h1
{ font-style: italic }

td.b { font-size: 85%; text-transform: uppercase; }
.pt-1.pb-1, th.top {
    font-weight: 100;
    font-size: 25px!important;
    text-transform: lowercase;
    font-weight: bold;
    border-bottom: 3px solid #dcdce0;
}

/* buttons, alerts */
.form-control,
.alert-info, .alert-primary, .alert-secondary, .alert-success, .alert-warning, .alert-danger, .alert-light, .alert-dark
{ color: inherit; background-color: #f4f7fe6e; border: 0 }

.form-row .card-header,
.btn-info, .btn-primary, .btn-secondary, .btn-success, .btn-warning, .btn-danger, .btn-light, .btn-dark
{ transition: .6s; background: #595764; color: #f4f4f7; border: 0; font-weight: 100; font-style: italic }
.form-row .card-header:hover,
.btn-danger:hover, .btn-primary:hover, .btn-warning:hover, .btn-success:hover
{ background: transparent; color: #595764 }

.card-header {     font-size: 80%;
    text-transform: lowercase; }

.text-danger { color: #fff!important }



/* making the player page work */
.text-success { color: inherit!important }
.form-row .col-12.col-md-6.mb-2 br { display: block }
#summernote-form td:nth-child(2) { width: 80% }
.left.b.v-middle { width: 20% }
