#main>table, .row.justify-content-md-center, br { display: none }
#footer br { display: block!important }

.shy { display: flex; margin: -5px }
.shy a { flex: 1; text-align: center; background: #ffffff0e;  margin: 5px 5px 10px; border: 1px solid #ffffff0f; padding: 20px; line-height: 1 }
.shy a:hover { background: #00000006; text-decoration: none; text-shadow: 0 0 10px #fff }
@media(max-width:950px) { .shy, .shy a { display: block } }

.linkbig a { text-transform: lowercase; font-family: 'niconne'; font-size: 1.5rem }
.linksmol a { text-transform: uppercase; font-size: 9px; font-weight: 100; letter-spacing: 1px }

h1 { text-align: right; font-size: 15px; font-family: cambria }
h1::before { display: none }

/*

<link rel="stylesheet" href="https://maybemagenta.github.io/purr.css">
<link rel="stylesheet" href="https://maybemagenta.github.io/purrooc.css">
<img src="https://static.wolvden.com/images/biomes/coniferousforest/encounters/northernlongearedbatnight.png" class="bat" alt="">

<div class="shy">
  <a href="/den/35127">Devilry</a>
  <a href="/inbox/new/35127">Message</a>
  <a href="/chatter/topic/292447">CSS Commissions</a>
  <a href="/achievements/35127">Achievements</a>
</div>

*/
