
/*

    code by ᓚᘏᗢ #35127
    please do not take without asking!

*/

body { font-family: cambria, time, sans-serif; font-size: .71rem }



body { background: url('https://images2.imgbox.com/70/98/n8dcjJoa_o.jpg') #000; background-attachment: fixed; background-position: 50% 50%; background-size: cover }

.navbar-brand { filter: grayscale(1) }

#header .navbar-main,
#header .breadcrumb-nav,
#footer,
#sidebar { background: none }

#sidebar .card { border: 0 }


.nav-tabs { display: none }


#header .breadcrumb-nav { opacity: 0; user-select: none; pointer-events: none }



.pt-1.pb-1, .featured-wolf b { font-size: 0!important } .pt-1.pb-1 a { font-size: 18px!important }
th.pt-1.pb-1::before { content: "High Priestess "; font-size: 18px!important }
.featured-wolf b::before { content: "Sacrifice"; font-size: .875rem }



#header .navbar-status {
    background-color: #0000001a;
    border: 1px solid #ffffff14;
}


#main, .card-body { background: #ddd; box-shadow: 5px 5px rgba(255,255,255,.2)  }


.nav-link i { float: left }

@media (min-width: 1200px) {
#header .navbar-main .nav-link {
    font-size: .7rem;
    letter-spacing: 1px;
    margin-right: 15px;
}
}
