#main>table, .row.justify-content-md-center, br { display: none }
#footer br { display: block!important }

.shy { display: flex; margin: -5px }
.shy a { flex: 1; text-align: center; background: #ffffff0e;  margin: 5px 5px 10px; border: 1px solid #ffffff0f; padding: 20px; line-height: 1 }
.shy a:hover { background: #00000006; text-decoration: none; text-shadow: 0 0 10px #fff }
@media(max-width:950px) { .shy, .shy a { display: block } }

.linkbig a { text-transform: lowercase; font-family: 'niconne'; font-size: 1.5rem }
.linksmol a { text-transform: uppercase; font-size: 8px; font-weight: bold; letter-spacing: 1px }

h1 { text-align: right; font-size: 15px; font-family: cambria }
h1::before { display: none }
.text-break { display: block!important }
form td:nth-child(2) { width: auto!important }
#main .card { background: #181818!important }



.float-right.mt-2 { margin: 0; padding: 0; float: none; }
.btn.btn-danger { font-size: 0!important; z-index: 1; position: fixed; bottom: 0; left: 0; margin: 1rem; border: 0; vertical-align: middle; display: inline-block; padding: .5rem; background: #fff2; color: inherit; line-height: 1 }
.btn.btn-danger:hover { font-size: 8px!important; font-style: italic; text-transform: uppercase; font-weight: bold; letter-spacing: 1px }
.btn i { font-size: 10px; display: inline-block; }


/*

<link rel="stylesheet" href="https://cryptidcat.github.io/purr.css"><link rel="stylesheet" href="https://cryptidcat.github.io/purrplus.css"><div class="shy linkbig">
  <a href="/den/35127">Devilry</a>
  <a href="/inbox/new/35127">Message</a>
  <a href="/chatter/topic/292447#292447">Commissions</a>
</div>
<div class="shy linksmol">
  <a href="#">Combo Marking Calculator</a>
  <a href="https://www.wolvden.com/chatter/topic/369952#369952">(Custom) Decor Previewer</a>
  <a href="https://www.wolvden.com/chatter/topic/369948#369948">Den Visualizer</a>
</div>

*/




body {
    cursor: default;
    color: #999;
    font-family: 'PT Serif', serif;
    font-size: .71rem;
    background-image: url(https://images2.imgbox.com/d0/2f/qOB5U9te_o.jpg);
    background-color: #000;
    background-attachment: fixed;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: repeat;
}
