@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


      /*  by #35127  */


* { font-family: 'Syne Mono', monospace;
font-size: inherit; color: inherit; border: 0 }

#footer, .card.text-center .card-img-top, .breadcrumb-item, .table .subheader { display: none }
/* #main.col-lg-9 { max-width: 100%; flex: 1 } */
#main::after { content: "css by ᓚᘏᗢ #35127"; white-space: pre-wrap;font-size: 80%; display: block; text-align: right; margin-bottom: 1em; line-height: 1; }
#header .breadcrumb-nav .breadcrumb { margin: 0; max-width: 100% }
.table a { font-weight: inherit }
.table .left { background-color: inherit }
.table td, .table th { vertical-align: middle }
body { cursor: default }
#header .navbar-main .nav-link .fa { color: inherit }
nav i, .nav-tabs { display: none!important }
br { display: none }

.navbar-status { display: none } @media (min-width: 1200px) { #header .navbar-main { height: 105px; padding-left: 300px } }

form td:nth-child(2) { width: 10% }
form td:nth-child(3) { width: 25% }
form td:nth-child(4) { width: 10% }
form td:nth-child(5) { width: 7% }



.mb-3, .my-3 { margin: 0 auto }.table td {
    align-items: center;
}


.featured-wolf b { display: block }

td.b { width: 35% }

.form-row .card.text-center { margin-top: 1rem }




/* headers */
#header .breadcrumb-nav { background-color: transparent }

/* colored */
h1 { text-align: center }
body { background-image: url('https://images2.imgbox.com/20/44/tAIRs6PE_o.png'); background-size: auto; background-repeat: repeat; background-attachment: fixed;
color: #f83cbb }

#header .navbar-main, .table th {
    background: url('https://images2.imgbox.com/7a/50/RvxHNg2G_o.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f83cbb;
    background-blend-mode: overlay;
}

#sidebar {
  background: #fffefe;
}

a, a.text-danger, .nav-link, .table th a, .alert-info .alert-link, .alert-success .alert-link { transition: .5s; text-decoration: none }

a:hover, a.text-danger:hover, #header .navbar-status a:hover, .nav-link:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa
{ text-decoration: none }


#sidebar .card { background: transparent; border: 0 }

#sidebar a { color: inherit }


#main h1 { font-size: 4em }

.btn:hover,
a:hover {
  color: red;
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}



.alert-primary, .alert-secondary, .alert-success, .alert-warning, .alert-danger, .alert-light, .alert-dark { background: transparent; border: 0; color: inherit }


#main .card { background: transparent; color: inherit; }

.btn { opacity: 1!important }
button { background: #4cddde; color: #fff; border: 0; }
button:hover { background: transparent!important }

.table {
    border: 2px solid #0cfb08;
}
.table-striped tbody tr:nth-of-type(odd) {
    background: none;
    border-top: 1px solid #0cfb08;
    border-bottom: 1px solid #0cfb08;
}

a { color: #4cddde }

.progress {
    background: #fc1ab90d!important;
}


.bg-warning {
    background-color: #fd58dc!important;
}
.bg-primary, #sidebar .bg-info {
    background-color: #fdfc08!important;
}
.bg-danger {
    background-color: #42fa09!important;
}
.bg-info, .bg-success {
    background-color: #4cddde!important;
}
