#main>table, .row.justify-content-md-center, br { display: none }
#footer br { display: block!important }

h1 { text-align: left!important }
.small, small { display: none }

.wargwrap { display: flex }
.wargwrap a { flex: 1; margin: 10px;
    background-image: url(https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg)!important;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-blend-mode: darken;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    padding: 20px;
    font-weight: 100;
}
