@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

#footer { background: none }
#sidebar, .nav-tabs, .navbar-status, .breadcrumb-nav { display: none }

body { cursor: default;
color: #999; font-family: "PT Mono", monospace; font-size: .71rem;
background-image: url('https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg'); background-color: #000; background-attachment: fixed; background-size: cover; background-position: 50% 50% }

a, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #fff; transition: .5s }
a:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { text-decoration: line-through; color: #fff }

@media (min-width: 1200px) {
#header .navbar-main .nav-link { font-size: .7rem; letter-spacing: 1px; margin-right: 15px }
#header .navbar-main { min-height: 115px; background: none } }
.nav-item i { vertical-align: middle; display: inline }
#header .navbar-main .nav-link .fa { color: inherit }

#main { flex: 1; max-width: 100%; background: none }
.container>.row { display: block!important }

.form-row .card a img { filter:grayscale(1); transition: 1s }
.card a:hover img, .featured-wolf a:hover img { filter: grayscale(0) }

#footer {     font-size: 80%;
    padding-top: 20px; }

#main {     background: #00000085;
    padding: 60px;
    border: 1px solid #eee3; }



.card-header, .table .bottom, .table tfoot td { background: #000 }

.table th, #main .card, .card.text-center { background: #161616 }
table { background-color: #000!important }
.table-striped tbody tr:nth-of-type(odd), .form-control { background-color: #3d242454 }


#main .card { background: #000 }
.table .subheader, .form-row .card:hover { background-color: #3d2424!important }
.table .subheader { background: #000 }
.table-striped td.text-right img, .mr-2, .mx-2 { background: #252525; padding: 5px; border-radius: 20px }

#summernote-form, .alert {
    background: none;
    border: 0;
    border-bottom: 1px solid;
    color: inherit;
    padding: 0 5px 5px;
}
.featured-wolf img,
.user-tag, .float-left.mr-2 { border: 1px solid #222 }

td.left { background: none!important; font-size: 14px; font-style: italic; font-weight: 100; text-align: right; text-transform: lowercase }
