/* a commission by ᓚᘏᗢ */


#footer { background: none }

body { cursor: default;
color: #999; font-family: calibri, arial, sans-serif; font-size: .71rem;
background-image: url('https://images2.imgbox.com/3d/cf/4bdCezaV_o.jpg'); background-color: #000;
background-attachment: fixed; background-size: cover; background-position: 50% 50% }
