@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* by ᓚᘏᗢ#35127 for #8497 */

#footer { background: none }

body { cursor: default;
color: #ffffff8c; font-family: calibri, arial, sans-serif; font-size: .71rem;
background-image: url('https://images2.imgbox.com/ed/f4/4OtrJyOx_o.jpg'); background-color: #000;
background-attachment: fixed; background-size: cover; background-position: 50% 50% }

#footer { font-size: 80%; padding-top: 20px }

a, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #fff; transition: .5s }
a:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { text-shadow: 0 0 3px; color: #fff!important; text-decoration: none }

@media (min-width: 1200px) {
  #header .navbar-main .nav-link { font-size: .7rem; letter-spacing: 1px; margin-right: 15px }
}

.nav-item i { vertical-align: middle; display: inline }
#header .navbar-main .nav-link .fa { color: inherit }
.breadcrumb-item.active { display: none }

.h1, h1 {
    font-size: 1.75rem;
    font-family: Berkshire Swash;
    font-size: 5rem;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: #ffffff47;
    background-image: url(https://i.giphy.com/media/heOKY8nrJUMfK/giphy.gif);
    mix-blend-mode: hard-light;
}

#header .navbar-status, #header .navbar-main {
    background: linear-gradient(90deg, #273e83e6, #8177d4e6, #8177d4e6);
    border-bottom: 1px solid #8a80ce }
#header .navbar-status { border-radius: 0 0 10px 10px }
#sidebar { background: none; padding-left: 0!important }
#header .breadcrumb-nav { background: none!important }

#main {
  background: linear-gradient(90deg, #273e83e6, #8177d4e6);
  box-shadow: 2px 2px 10px #000f1e9e }

.card.mb-3, .featured-wolf img {
    border: 1px solid #8a80ce
 }

#sidebar .card {
  background: linear-gradient(90deg, #8177d4e6, #273e83e6);
    border-radius: 15px 0;
    box-shadow: 2px 2px 10px #000f1e9e; border: 0!important
}

.table th {
    background-image: url(https://images2.imgbox.com/ed/f4/4OtrJyOx_o.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-color: #726abe;
    background-blend-mode: screen;
    border-bottom: 2px solid #716faf;
}

#main .card, .card.text-center { background: #5657a1 }
.table-striped tbody tr:nth-of-type(odd), .form-control { background-color: transparent }

td.left.b { vertical-align: middle }

.table, table { border: 0 }
tr td { border-top: 1px solid #8a80ce }

.btn { color: inherit }








/* */





.table .subheader { background: #000 }
.table-striped td.text-right img, .mr-2, .mx-2 { background: #ffffff24; padding: 5px; border-radius: 20px }

#summernote-form, .alert {
    background: none;
    border: 0;
    border-bottom: 1px solid #eee3;
    color: inherit;
    padding: 0 5px 5px;
}

.user-tag, .float-left.mr-2 { border: 1px solid #eee3 }

td.left { background: #000!important; font-size: 80%; font-weight: 100; text-align: right; letter-spacing: 1px; text-transform: uppercase }

td.row { margin: 0!important }

td.right.text-right { text-align: center!important; vertical-align: middle!important; border-left: 1px solid #222 }


.form-row .card { border: 1px solid #eee3!important }

.pb-1, .py-1 { padding: 20px!important }

.form-row .card-header b { text-transform: uppercase; letter-spacing: 1px; font-size: 80%; padding: 20px; font-weight: 100 }
.form-row .card-img-top { display: none }


.card.text-center { border: 0!important; background: none!important }

.subheader { display: none }


h3.mb-0 { padding: 10px; text-align: right; font-style: italic; background: #eee1; font-size: 2rem }


.text-danger { color: inherit!important }

.form-control { border: 0; color: #fff!important }
.btn-success, .btn-warning { border-bottom-color: #eee3; color: #fff!important; background-color: #3d2424; color: #fff }
.btn-success:hover, .btn-warning:hover { background: #856c6c; border-bottom-color: #eee3; }

.progress { background: none!important; outline: 1px solid #eee3; margin: 2px; outline-offset: -1px }

.bg-warning, .bg-primary, .bg-danger, .bg-info, .bg-success { background-color: #6f68bb!important }

select { background: #000 }

table.table.table-striped td { vertical-align: middle; }


form#summernote-form { background: #000; padding: 20px; border: 1px solid #222 }

th.top { padding: 20px }

.note-popover .popover-content, .note-toolbar { padding: 0 0 5px }
h1, h2, h3, h4, h5, h6, th.pt-1.pb-1 { font-family: 'Berkshire Swash', cursive; }

.small, small { font-size: 90%; text-transform: uppercase; letter-spacing: 1px }

th, .table a, #footer nav .nav-item .nav-link { font-weight: 100 }

td.b { text-align: right; font-weight: 100; text-transform: uppercase; font-size: 80%; latter-spacing: 1px }

.form-control, .btn { font-size: inherit!important }
.table .bottom, .table tfoot td { color: inherit; background: #111!important }
td { background: #5657a1 }
#footer ul, select { background: none!important }
div.col-xl-6.col-sm-12.order-xl-9.order-12, .featured-wolf, .col-xl-3.col-sm-7.text-center { align-self: center }
select option { background: #000!important; color: inherit!important }

h3.mb-0 i { vertical-align: middle; display: inline; font-size: 50%; margin-right: 10px; filter: opacity(.2) }
img.float-left.mr-2 { background: none; border-radius: 0; padding: 0; }

.small, small { font-family: calibri; font-size: 8px }
.card-header { background: none; border: 0 }

hr.flowers { filter: invert(1) }
