/* by ᓚᘏᗢ#35127 for #8497 */


#footer { background: none }

body { cursor: default;
color: #999; font-family: calibri, arial, sans-serif; font-size: .71rem;
background-image: url('https://i.imgur.com/HSw8jZz.jpg'); background-color: #000;
background-attachment: fixed; background-size: cover; background-position: 50% 50% }
